.navbar{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: #313131;
    padding: 10px;
    align-items: center;
    color: whitesmoke;
}

.navbar-center .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar-center .menu li{
    margin-left: 5rem;
}

.navbar-center .menu li a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar-center .menu a:hover{
    color: aqua;
} 

.navbar-center .menu:active{
    color: orange;
} 

.navbar .logo{
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: whitesmoke;
    padding-left: 20px;
}

.navbar-right .auth {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar-right .auth li{
    margin-right: 4rem;;
}

.navbar-right .auth li a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar-right .auth a:hover{
    color: aqua;
} 